[submodule "android-filepicker"]
	path = android-filepicker
	url = https://github.com/Gedsh/android-filepicker
[submodule "TorBuildScript"]
	path = TorBuildScript
	url = https://github.com/Gedsh/Tor-Android-build-script
[submodule "PurpleI2PBuildScript"]
	path = PurpleI2PBuildScript
	url = https://github.com/Gedsh/Purple-I2P-Android-build-script
[submodule "Nflog-android"]
	path = Nflog-android
	url = https://github.com/Gedsh/Nflog-android
