[submodule "android-filepicker"]
	path = android-filepicker
	url = https://github.com/Gedsh/android-filepicker
[submodule "TorBuildScript"]
	path = TorBuildScript
	url = https://gitlab.com/Gedsh/tor-android-build-script
