[submodule "android-filepicker"]
	path = android-filepicker
	url = https://github.com/Gedsh/android-filepicker
[submodule "TorBuildScript"]
	path = TorBuildScript
	url = https://github.com/Gedsh/Tor-Android-build-script
